<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>registration</title>

</head>
<body>
<form th:action="@{/}" method="get">
    <button type="Submit">Go To Login Page</button>
</form>

<div>
    <form autocomplete="off" action="#" th:action="@{/registration}"
          th:object="${user}" method="post" role="form">
        <h2>Registration Form</h2>

            <div>
                <input type="text" th:field="*{name}" placeholder="Name"/>
                <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"></label>
            </div>

            <div>
                <input type="text" th:field="*{email}" placeholder="Email"
                       class="form-control"/> <label
                    th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
            </div>

            <div>
                <input type="password" th:field="*{password}" placeholder="Password"/>
                <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
            </div>

            <div>
                <button type="submit">Register User</button>
            </div>

        <h2><span th:utext="${successMessage}"></span></h2>

    </form>

</div>

</body>
</html>